# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Database
*.db
*.db-journal
prisma/migrations/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Uploads
uploads/
temp/
